
.navbarSection {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99;
}

@media (max-width:472px) {}

@media (min-width: 472px) and (max-width: 772px) {}

@media (min-width: 772px) and (max-width: 972px) {}

@media (min-width:972px) {}