.contactSection {
    
}
.grid {
    grid-column-gap: 13.5vw;
    grid-row-gap: 0vw;
    grid-template-rows: auto auto;
    grid-template-columns: 36.2vw 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.label{
    text-align: right;
}
.more {
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 2;
    align-self: end;
}
.more > p {
    color: #fff3;
}
.more > p:nth-child(2) {
    max-width: 64%;
    text-align: justify;
}
.formSpace {
    grid-area: span 2 / span 1 / span 2 / span 1;
}
.fieldName input,.fieldEmail input,.fieldArea textarea{
    margin-bottom:3vw;
    background-color: unset;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.4vw;
    line-height: 130%;
    color: white !important;
    width: 100%;
    height: auto;
    padding: 0 1.6vw 1vw;
}
.fieldName input:-webkit-autofill,
.fieldName input:-webkit-autofill:focus,
.fieldEmail input:-webkit-autofill,
.fieldEmail input:-webkit-autofill:focus {
   
    background: none !important; /* Loại bỏ màu nền mặc định */
    color: white !important;
    -webkit-text-fill-color: white !important; /* Quan trọng cho autofill */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Xóa màu nền mặc định */
    transition: background-color 5000s ease-in-out 0s; /* Ngăn trình duyệt tự thay đổi */
}


@media (max-width:472px) {}

@media (min-width: 472px) and (max-width: 772px) {}

@media (min-width: 772px) and (max-width: 972px) {}

@media (min-width:972px) {}
