
@font-face {
    
  font-family: "Font-Medium";
  src: url('/fonts/HelveticaNeueCyr/Medium.woff2');

}
@font-face {
  
  font-family: "Font-Roman";
  src: url('/fonts/HelveticaNeueCyr/Roman.woff2');

}

:root {



  /* font size */
  --font-s-h0: 10.6vw;
  --font-lh-h0: 11.6vw;
  --font-ls-h0: -.5vw;
  --font-s-h1: 8vw;
  --font-lh-h1: 8vw;
  --font-ls-h1: -0.2vw;
  --font-s-h2: 3.345432vw;
  --font-lh-h2: 3.50666666667vw;
  --font-ls-h2: .1266666667vw;
  --font-s-h3: 2vw;
  --font-lh-h3: 2vw;
  --font-ls-h3: 0.001333333333vw;
  --font-s-h4: 1.3vw;
  --font-lh-h4: 1.4vw;
  --font-ls-h4: 0.1vw;
  --font-s-p: 2.01111111vw;
  --font-lh-p: 2.10333333333vw;
  --font-ls-p: 0.0266666667vw;
/*   --font-s-p: 1rem;
  --font-lh-p: 1.1rem;
  --font-ls-p: 0.0266666667vw; */


  --font-s-p-large: 2.723333vw;
  --font-lh-p-large: 2.7223333vw;
  --font-ls-p-large: 0.0266666667vw;

  --font-s-p-medium: 1.123333vw;
  --font-lh-p-medium: 1.123333vw;
  --font-ls-p-medium: 0.0266666667vw;


  --font-s-subtitle: 3.2vw;
  --font-lh-subtitle: 4.2666666667vw;
  --font-ls-subtitle: 0.0266666667vw;
  --font-s-cta: 4.2666666667vw;
  --font-lh-cta: 4.2666666667vw;
  --font-ls-cta: 0vw;
  --font-s-label: 3.7333333333vw;
  --font-lh-label: 3.7333333333vw;
  --font-ls-label: 0vw;

  /* button */
  --padding-p :  1vw 2vw ;
  --radius-p : 50px;

  /* color */
  --cream: rgb(245, 238, 221);
  --black: #0F0F0F;
  --brand-black: #101010;
  --white: #fff;
  --gray: #515151;
  --red:#FF2F2F;
  --yellow : #CCFD7F;
  --yellowgreen : #9CD323;
  --color-white: #fff;
  --color-white-02: hsla(0,0%,100%,.2);
  --color-white-04: hsla(0,0%,100%,.4);
  --color-white-06: hsla(0,0%,100%,.6);
  --color-white-08: hsla(0,0%,100%,.8);
  --color-off-white: #f8f8f8;
  --color-off-white-02: hsla(0,0%,97%,.2);
  --color-off-white-04: hsla(0,0%,97%,.4);
  --color-off-white-06: hsla(0,0%,97%,.6);
  --color-off-white-08: hsla(0,0%,97%,.8);
  --color-story: #070707;
  --color-dark-grey: #0d0e13;
  --color-dark-grey-02: rgba(13,14,19,.2);
  --color-dark-grey-04: rgba(13,14,19,.4);
  --color-dark-grey-06: rgba(13,14,19,.6);
  --color-dark-grey-08: rgba(13,14,19,.8);
  --color-light-grey: #e4e0db;
  --color-light-grey-02: hsla(33,14%,88%,.2);
  --color-light-grey-06: hsla(33,14%,88%,.6);
  --color-light-grey-08: hsla(33,14%,88%,.8);
  --color-sand: #e0ccbb;
  --color-sand-06: hsla(28,37%,81%,.6);
  --color-sand-08: hsla(28,37%,81%,.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {

  overflow: hidden;
}

body {
  background: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-transform: uppercase;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
  color: var(--white);
      
  font-family: "Font-Medium";
}
p,a,span {
  margin:0;
  padding:0;
 
  color: var(--white);
  font-family: "Font-Roman";
}
a {
  text-decoration: none;
  color: var(--white);
}
a,button {
  cursor: pointer;
}
ul {
  list-style-type: none;
  color: inherit;

}