
.footerSection{

}
.layout_footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2vw 0 ;
}
.node1,.node2 {
    padding-bottom: 10vw;
}
.node1 {
   
    display: flex;
}
.node1 > *:not(:first-child),.node3 > *:not(:first-child) {
    
}
.node1 > *,.node3 > * {
    padding-right: 2rem;
}
.node1 > a,
.node4 *{
    font-size: var(--font-s-p-medium);
    line-height: var(--font-lh-p-medium);
    letter-spacing: var(--font-ls-p-medium);
}
.node1,.node2,.node3,.node4{
    width: 50%;
    height: fit-content;
}
.node3{
    display: flex;
    align-self: self-end;

}
.node4 { 
    display: flex;
    justify-content: space-between;
}
.node4 > div {
   
}
.brandName {

}
@media (max-width:472px) {}

@media (min-width: 472px) and (max-width: 772px) {}

@media (min-width: 772px) and (max-width: 972px) {}

@media (min-width:972px) {}
